<!-- <main class="content-main"> -->
<!-- <div class="content-wrapper" [class.config-collapsed]="configPanelCollapsed">
  <header class="content-header">
    <h1>content-main {{ configPanelCollapsed }}</h1>
  </header> -->
<!-- Router outlet for dynamic content -->
<!-- <div class="content-dynamic"> -->
<router-outlet></router-outlet>
<!-- </div> -->
<!-- </main> -->
<!-- GRILLE 6: SIDEBAR CONFIGURATION (droite) -->
<!-- </div> -->
<!-- <atk-sidebar-config [sections]="config.configPanel.sections" [isCollapsed]="config.configPanel.isCollapsed"
  (togglePanel)="toggleConfigPanel()" /> -->
<!-- <atk-sidebar-bash-config [isCollapsed]="config.configPanel.isCollapsed" (configChange)="onBashConfigChange($event)"
      (togglePanel)="toggleConfigPanel()" /> -->
