<aside class="sidebar-nav" aria-label="Navigation">

  <!-- <div class="user-context" *ngIf="config?.userContext">
    <img [src]="config.userContext?.avatar || ''" [alt]="'@' + (config.userContext?.username || '')" class="avatar"
      width="20" height="20" />
    <button class="user-context-button">
      <span>{{config.userContext?.username || ''}}</span>
      <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" fill="currentColor">
        <path
          d="m4.427 7.427 3.396 3.396a.25.25 0 0 0 .354 0l3.396-3.396A.25.25 0 0 0 11.396 7H4.604a.25.25 0 0 0-.177.427Z">
        </path>
      </svg>
    </button>
  </div> -->


  @for (section of (config?.sections || []); track sectionIndex; let sectionIndex = $index) {
  <div class="sidebar-section">
    <h3 (click)="toggleSection(sectionIndex)">
      <span class="section-toggle" [class.expanded]="section.isExpanded">
        @let ic = (section?.icon | icon: { defaultName: 'default', defaultColor: '#656d76', size: 14 });
        <atk-icon [name]="ic.name" [variant]="ic.variant" [color]="ic.color" [size]="ic.size"></atk-icon>
      </span>
      {{ section?.title || '' }}
    </h3>
    @if (section?.items && section.items.length > 0) {
    <ul class="repo-list">
      @for (item of section.items; track itemIndex; let itemIndex = $index) {
      <li class="repo-item">

        <!-- Item principal avec toggle si subMenu existe -->
        <div class="item-header" [class.expanded]="item.isExpanded" (click)="toggleItem(sectionIndex, itemIndex)">
          <!-- <span class="sidebar-submenu-toggle" [class.expanded]="item.isExpanded">+</span> -->
          @if (item?.link && item.link.trim() !== '' && item.link !== '#') {
          @let ic = (item?.icon | icon: { defaultName: 'repo', defaultColor: '#656d76', size: 14 });

          <a class="repo-title" [routerLink]="item?.link || ''">
            <atk-icon [name]="ic.name" [variant]="ic.variant" [color]="ic.color" [size]="ic.size"></atk-icon>
            {{ item?.label || '' }}
          </a>
          } @else {
          @let ic = (item?.icon | icon: { defaultName: 'repo', defaultColor: '#656d76', size: 14 }); <a
            class="repo-title">
            <atk-icon [name]="ic.name" [variant]="ic.variant" [color]="ic.color" [size]="ic.size"></atk-icon>
            {{ item?.label || '' }}
          </a>
          }
          @if (item?.action && item.action !== false) {
          <button class="repo-btn-action" (click)="handleAction(item.action?.action || '')">
            {{ item.action?.label }}
          </button>
          }
        </div>

        <!-- Sous-menus (collapsible) -->
        @if (item.subMenu && item.subMenu.length > 0) {
        <ul class="sidebar-submenu-list" [class.collapsed]="!item.isExpanded">
          @for (subItem of item.subMenu; track $index) {
          <li class="sidebar-submenu-item">
            <a class="sidebar-submenu-title" [routerLink]="subItem?.link || '#'">
              {{ subItem?.label || '' }}
            </a>
            @if (subItem?.action && subItem.action !== false) {
            <button class="repo-btn-action" (click)="handleAction(subItem.action?.action || '')">
              {{ subItem.action?.label }}
            </button>
            }
          </li>
          }
        </ul>
        }
      </li>
      }
    </ul>
    } @else {
    <p class="recent-activity">
      When you take actions across GitHub, we'll provide links to that activity here.
    </p>
    }


  </div>
  }

  <a href="#" class="show-more-link">Show more</a>
</aside>
