<div class="user-tools" [class.config-collapsed]="configPanelCollapsed">

  <div class="search-wrapper">
    <atk-icon class="search-icon" name="search" color="currentColor" />
    <input type="text" class="search-input" placeholder="Type / to search" (keydown)="handleSearchShortcut($event)" />
  </div>

  <div class="user-actions">
    <button class="navbar-btn" aria-label="Créer quelque chose de nouveau" (click)="handleAction('create')">
      <atk-icon name="cross" color="white" />
    </button>
    <button class="navbar-btn" aria-label="Vos issues" (click)="handleAction('issues')">
      <atk-icon name="target" color="white" />
    </button>
    <button class="navbar-btn" aria-label="Vos pull requests" (click)="handleAction('pulls')">
      <atk-icon name="branch" color="white" />
    </button>
    <button class="navbar-btn" aria-label="Notifications" (click)="handleAction('notifications')">
      <atk-icon name="bell" [size]="16" color="white" />
    </button>
    <div class="user-menu">
      <button class="user-btn" (click)="toggleUserMenu()">
        <img src="https://avatars.githubusercontent.com/u/32144309?v=4" alt="@user" class="user-avatar" width="16"
          height="16" />
      </button>
    </div>
  </div>

</div>
