<div class="content-wrapper" [class.config-collapsed]="configPanelCollapsed">
  <header class="content-header">
    <h1>atk-dev-integration {{ configPanelCollapsed }}</h1>
  </header>
  <div class="terminal-wrapper">
    <header class="terminal-header">
      <h1>atomeek.dev.integration Component {{ configPanelCollapsed }}</h1>
      <div class="terminal-details">
        <h2>when data finally reaches its owner.</h2>
      </div>
    </header>
    <!-- État de chargement -->
    @if (loading() ) {
    <div class="loading-state">
      <div class="spinner"></div>
      <p>Chargement des informations du compte...</p>
    </div>
    }
    <!-- État d'erreur -->
    @if (error()) {
    <div class="error-state">
      <atk-icon name="error-2" color="currentColor" />
      <p>{{ error() }}</p>
      <button class="retry-btn">Réessayer</button>
    </div>
    }
    <!-- Router outlet for dynamic content -->
    <div class="terminal-main">
      <!-- <atk-api-management configId="binance-debug-v2" [autoLoad]="true" title="atk dashboard"
      (balanceSelected)="onBalanceSelected($event)" (errorOccurred)="onErrorOccurred($event)" /> -->
    </div>
    <!-- (endpointChanged)="onEndpointChanged($event)" -->
  </div>
</div>

<atk-sidebar-config [sections]="config.configPanel.sections" [isCollapsed]="config.configPanel.isCollapsed"
  (togglePanel)="toggleConfigPanel()" />

<!-- <atk-sidebar-bash-config [isCollapsed]="config.configPanel.isCollapsed" (togglePanel)="toggleConfigPanel()" /> -->

<!-- <atk-sidebar-bash-config [isCollapsed]="config.configPanel.isCollapsed" (configChange)="onBashConfigChange($event)"
  (togglePanel)="toggleConfigPanel()" /> -->
