<aside class="config-panel" [class.collapsed]="isCollapsed()" [class.expanded]="!isCollapsed()">
  <button class="config-toggle" (click)="onToggle()"
    [attr.aria-label]="isCollapsed() ? 'Ouvrir configuration' : 'Fermer configuration'">
    @if (!isCollapsed()) {
    <atk-icon class="toggle-arrow right" name="triangle-right" [size]="16" color="#656d76"></atk-icon>
    } @else {
    <atk-icon class="toggle-arrow left" name="triangle-left" [size]="16" color="#656d76"></atk-icon>
    }
  </button>

  <div class="config-wrapper">
    <div class="config-content">
      @for (section of sections(); track section.title) {
      <div class="config-section">
        <div class="config-title has-hover-dot" data-hover-color="red" hoverDot icon="radio-dot">
          <div class="config-title-text"> {{ section.title }}</div>
        </div>
        @for (item of section.items; track item.title) {
        <div class="config-item">
          @let ic = (item.icon | icon: { defaultName: 'default', defaultColor: '#656d76', size: 16 });
          <!-- <span class="icon-name">{{ ic.name }}</span> -->
          <atk-icon class="config-item-icon" [name]="ic.name" [variant]="ic.variant" [color]="ic.color"
            [size]="ic.size">
          </atk-icon>
          <div class="config-item-content">
            <a [href]="item.link" class="config-item-title" (click)="navigateToConfig($event, item.link)">
              {{ item.title }}
            </a>
            <div class="config-item-desc">{{ item.description }}</div>
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
</aside>
